{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% block content%}
<div class="text-center mt-20 mb-16">
  <h2 class="text-5xl text-gray-400 font-bold">Soumo.</h2>
  <h1 class="text-7xl font-extrabold">Full-Stack Developer.</h1>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-10 text-center">
  <div>
    <p class="uppercase text-sm text-gray-500 mb-1">Current</p>
    <p>Backend Intern at <a href="#" class="underline">AwesomeStartup</a></p>
  </div>
  <div>
    <p class="uppercase text-sm text-gray-500 mb-1">Soon</p>
    <p>Joining <a href="#" class="underline">Meta</a> as Software Engineer</p>
  </div>
  <div>
    <p class="uppercase text-sm text-gray-500 mb-1">Past</p>
    <p>Interned at <a href="#" class="underline">Amazon</a>, <a href="#">Infosys</a></p>
  </div>
</div>
{% endblock%}